<h3>Comments</h3>

<% @comments.each do |comment| %>
      <div class="color-blue">
                <%= comment.user.username %>
                <div class = 'pull-right'><small>
                      create: <%= comment.created_at.strftime('%d/%m/%Y')%><br>
                      edit:  <%= comment.updated_at.strftime('%d/%m/%Y')%>
                </small></div>

                <h4>
                <%= comment.body %>
                <h4>

              <% if current_user && comment.user == current_user %>
              <%= link_to 'Edit comment', {:controller => 'comments', :action => 'edit', :article_id => comment.article_id ,:id => comment.id}, :class=>"btn btn-warning"  %>
              <%= link_to 'Delete comment', {:controller => 'comments', :action => 'destroy', :article_id => comment.article_id, :id => comment.id} ,  :class=>"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
      </div>
<% end %>

<%= will_paginate(@comments)%>

<% if current_user %>
    <h3>Add a comment</h3>

    <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="color-blue">
              <%= f.text_area :body %><br>
              <%= submit_tag "Create", class: "btn btn-primary" %>
        </div>
    <% end %>

<% end %>
