<h2>
  <%= @article.title %>
</h2>

By <%= @article.user.username%>
<div class = 'pull-right'>
<%= @article.created_at.strftime('%d/%m/%Y') %><br>
</div>
<h4>
  <%= @article.text %>
</h4>


<%= render 'comments/comment'%>

<%= link_to 'Back', {:controller => 'articles', :action => 'index'}, :class=>"btn btn-link"  %>
